/* It seperates second button which shows Alarm timing and history*/

/* New alarm set button with plus(+) icon */
#alarm {
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  position: relative;
  border-radius: 5px;
  border-color: rgb(2, 101, 2);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Add new Text */
#alarm span {
  color: rgb(2, 101, 2);
  font-size: 12px;
  margin-bottom: 2px;
}
/* Material Ui icon button */
#alarm button {
  color: rgb(2, 101, 2);
  background-color: rgb(206, 227, 217);
  border: none;
  cursor: pointer;
}

/* #createdAlarm{
  flex-direction: column;
} */

/* after clicking on plus button the new card for set alarm */
/* Card css starts here */
#setnew-alarm {
  width: 280px;
  height: 280px;
  margin-left: 20px;
  padding: 12px;
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 15px;
  background-color: white;
  transition: opacity 0.5s ease-in-out;
}
/* Heading of set alarm card  */
#card-heading {
  font-size: 8px;
  font-weight: 700;
  color: rgb(82, 78, 78);
}

/* hours minutes and watch are inside this container div  */
#time-card {
  width: 100%;
  height: 50%;
  display: flex;
  /* border: 1px solid black; */
}
/* Seperates 50% left box for set hour and minute  */
.set-time {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* // it indicates property for both hours and minutes container*/
#hours-minutes {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* set property for both hour and minute section */
.hours-minutes {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: rgb(234, 242, 238);
  color: rgb(2, 72, 2);
}
.hours-minutes:hover {
  background-color: rgba(128, 212, 128, 0.806);
}
#hours {
  cursor: pointer;
}
#minutes {
  cursor: pointer;
}

/* property for making watch for set hours  */
#set-time {
  width: 125px;
  height: 125px;
  background-color: bisque;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#point {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid black;
}
#set-time span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 2px;
  text-align: center;
}
#set-time span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 9px;
  color: rgb(77, 74, 74);
  cursor: pointer;
}
#set-time span b:hover {
  background-color: aqua;
}
.hand {
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.hand i {
  position: absolute;
  background-color: rgb(77, 74, 74);
  width: 2px;
  height: 30%;
  display: none;
}
/* container for minutes changing after */
.set-minute-time {
  width: 125px;
  height: 125px;
  background-color: rgb(234, 242, 238);
  border-radius: 5px;
  display: none;
  align-items: center;
}
#set-minute-time {
  width: 125px;
  height: 35px;
  background-color: rgba(156, 217, 156, 0.806);
}

/* Am Pm properties under hour-minute container */
#Am-Pm {
  width: 105px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.Am-Pm {
  border: 1px solid rgb(82, 78, 78);
  font-weight: 700;
  font-size: 8px;
  background-color: white;
  color: rgb(82, 78, 78);
}
.Am-Pm:hover {
  background-color: rgb(251, 231, 206);
}
#Am {
  padding: 4% 20% 4% 18%;
  border-radius: 4px 0px 0px 4px;
}
#Pm {
  padding: 4% 18% 4% 20%;
  border-radius: 0px 4px 4px 0px;
}
/* repeat sound snooze button container property */
.card-row {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0px 2px 0px;
  font-size: 11px;
  font-weight: 700;
  color: rgb(82, 78, 78);
}
/* options select button property */
.card-row select {
  font-size: 10px;
  font-weight: 700;
  border: none;
  color: rgb(82, 78, 78);
  padding: 4px;
}

/* icon ok and cancel button property */
#bottom button {
  border: none;
  background-color: white;
  font-size: 10px;
  color: rgb(2, 101, 2);
  font-weight: 700;
}
#cancelButton {
  margin-left: 60%;
}

#repeat {
  margin-top: 9px;
}

#sound {
}

#snooze {
  margin-bottom: 17px;
}
/* Snooze toggle on/off button properties */
#toggle-snooze {
  width: 27px;
  height: 16px;
  background-color: rgba(155, 201, 155, 0.806);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#slider-snooze {
  width: 12px;
  height: 12px;
  background-color: rgb(165, 162, 162);
  border-radius: 50%;
  margin: 2.3px;
}

#bottom {
}

.card {
  width: 106.5px;
  height: 100px;
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  font-size: 20px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

#more_vert {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup {
  width: 50px;
  height: 40px;
  display: none;
  position: absolute;
  right: 15px; /*Adjusted to open on the right side */
  top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.popup button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
.popup button:hover {
  background-color: #f5f5f5;
}
.del-dis-btn {
  width: 100%;
  height: 50%;
  font-size: 9px;
}

#toggle-snooze-win {
  width: 27px;
  height: 16px;
  background-color: rgba(155, 201, 155, 0.806);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 12px 0px 2px 2px;
}
#slider-snooze-win {
  width: 12px;
  height: 12px;
  background-color: rgb(165, 162, 162);
  border-radius: 50%;
  margin: 2.3px;
}

#repeat-show {
  font-size: 10px;
  margin: 3px 0px 2px 2px;
}

#sound-show {
  font-size: 10px;
  margin: 2px 0px 12px 2px;
}
