@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Resetting default margin and padding for the entire document */
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-family: "Roboto", sans-serif;
  background: black;
}

/* Outer Container filled with light gray color */
.main-container {
  width: 62%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2d22;
}

/* Inner container which is the main part of the container with flex property */
.inner-container {
  width: 47%;
  height: 90%;
  border: 4px solid gray;
  border-radius: 15px;
  background-color: rgb(206, 227, 217);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navbar functionality with project name and add new alarm located here */
.navbar {
  width: 100%;
  height: 6%;
  background-color: white;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: -1;
}

/* It specifies Alarm text on left top */
.navbar span {
  padding: 15px;
  font-size: 11px;
  font-weight: 700;
  color: rgb(2, 101, 2);
  letter-spacing: 0.4px;
}

/* It specifies plus icon on right top */
.navbar button {
  width: 5%;
  height: 5%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  color: rgb(2, 101, 2);
}
#mid-container {
  width: 100%;
  height: 100%;
  padding: 15px 12px 15px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  align-content: baseline;
}

/* It seperates third button which shows stop watch button*/
#startStopButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 1em;
  background-color: #00ff00;
  border: none;
  color: #222;
  cursor: pointer;
}

/* It seperates fourth button which shows timer*/
#timer {
}

/* Bottom part of the inner container which have 4 buttons with different functionalities. */

/* Bottom container */
.bottom {
  width: 100%;
  height: 6%;
  background-color: white;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  justify-content: center;
}

/* Bottom container 4 buttons with flex property */
.bottom-buttons {
  width: 23%;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: none;
  background-color: white;
  letter-spacing: 0.7px;
  font-weight: 700;
  color: gray;
  transition: transform 0.9s ease-in;
}

/* After hover curcer on buttons */
.bottom-buttons:hover,
.bottom-buttons:active {
  color: rgb(2, 101, 2);
  background-color: rgb(206, 227, 217);
}
.bottom-buttons span {
  font-size: 14px;
}
