/* @import url("http://fonts.cdnfonts.com/css/bahnschrift");

variables :root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  background-color: var(--secondaryColor);
} */

/* It seperates a button which shows stop watch but it is hidden until clicked on startstopbutton*/
#stop-watch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#stop-watch section {
  width: 300px;
  height: 300px;
  border: 12px solid gray;
  background-color: bisque;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  /* color: yellow;
  background: linear-gradient(145deg, rgb(122, 210, 122), #1e1e1e);
  -webkit-box-shadow: 0px 0px 10px 5px #2205ff;
  box-shadow: 0px 0px 10px 5px #2205ff; */
}
#stop-watch section span {
  font-size: 70px;
  margin: 40px 0px;
}

.title {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 40px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn {
  padding: 10px 30px;
  margin: 10px 10px 20px 10px;
  font-weight: bold;
  appearance: none;
  color: gray;
  border: 1px solid gray;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  cursor: pointer;
  border-radius: 7px;
}

.btn:hover {
  background-color: wheat;
  /* color: yellow;
  border-radius: 50px;
  background: linear-gradient(145deg, #232323, #1e1e1e);
  -webkit-box-shadow: 0px 0px 10px 5px #2205ff;
  box-shadow: 0px 0px 10px 5px #2205ff; */
}
