/* It seperates first button which shows Real world timing */
#world-clock {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#square-frame {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(157, 153, 153, 0.7);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50% 20% 50% 20%;
}

#analog-clock {
  position: relative;
  width: 235px;
  height: 235px;
  /* border: 1px solid #333; */
  border-radius: 50%;
  background-color: rgb(237, 230, 230);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.hand {
  position: absolute;
  transform-origin: 50% 100%;
  background-color: #333;
  left: 50%; /* Center the hands horizontally */
  top: 50%;
  border-radius: 50%;
}

#hour {
  height: 50px;
  width: 5px;
  margin-left: -2.5px;
  margin-top: -50px; /* Adjust for the height to center it vertically */
}

#minute {
  height: 80px;
  width: 3px;
  margin-left: -1.5px;
  margin-top: -80px; /* Adjust for the height to center it vertically */
}

#second {
  height: 90px;
  width: 2px;
  background-color: red;
  margin-left: -1px;
  margin-top: -90px; /* Adjust for the height to center it vertically */
}

#analog-clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 2px;
  text-align: center;
}
#analog-clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 9px;
  color: rgb(77, 74, 74);
  cursor: pointer;
}

#center {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#digital-clock {
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 50% 50% 5% 5%;
  box-shadow: inset 0 0 10px rgba(98, 96, 96, 0.5);
}

#time {
  font-size: 24px;
  color: red;
}

#date {
  font-size: 18px;
  color: gray;
}
